<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dropout Engineering</title>
    <link rel="stylesheet"  href="styles/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Russo+One&family=Sora:wght@100..800&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&family=Ubuntu+Condensed&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
</head>
<body>
    

     
  <nav class="flex items-center justify-between p-3 px-6 bg-transparent border-b ">
    <a href="#" id="brand" class="flex items-center justify-center">
        <div class="font-semibold text-md md:text-xl font-orbitron">DROPOUT ENGINEERING</div>
    </a>
    <div id="nav-menu" class="hidden gap-12 md:flex">
        <a href="#" class="font-poppins hover:text-gray-500">About</a>
        <a href="#" class="font-poppins hover:text-gray-500">Work</a>
       
      

    </div>

    <button id="menu-toggle" class="w-12 p-2 md:hidden">
        <i class="text-gray-600 fa-solid fa-bars"></i>
    </button>
    <div id="nav-dialog" class="fixed inset-0 z-50 hidden p-3 px-6 text-black bg-white">
        <div id="nav-bar" class="flex justify-between">
            <a href="#" id="brand" class="flex items-center gap-2">
                <h1 class="font-semibold text-md md:text-xl font-orbitron ">DROPOUT ENGINEERING</h1>
            </a>
            <button id="close-btn" class="w-12 p-2 md:hidden">
                <i class="text-black fa-solid fa-x"></i>   
             </button>

        </div>
        <div class="flex flex-col mt-10 ">
            <a href="#" class="px-4 py-3 my-3 text-lg text-white bg-black rounded-lg font-poppins hover:text-black hover:bg-gray-500">About</a>
            <a href="#" class="px-4 py-3 my-3 text-lg text-white bg-black rounded-lg font-poppins hover:text-black hover:bg-gray-500">Work</a>
            
            
        </div>
        
    </div>
</nav>

                <div class="flex items-center justify-center max-h-screen">
                    <section class="container flex flex-col items-center justify-center gap-8 px-6 py-10 mx-auto md:gap-10 lg:gap-10 md:py-40 md:flex md:justify-center md:items-center">

                        <div class="flex items-center justify-center">
                          <h1 class="text-2xl font-semibold text-center md:leading-[60px] font-poppins text-wrap md:text-wrap md:text-5xl">Empower Your Business: Create and <br> Sell with our Websites!</h1>
      
                        </div>
                        
                        <div class="items-center justify-center hidden md:flex md:justify-center md:items-center">
                          <h1 class="text-sm font-medium text-center md:max-w-2xl font-playfair md:text-lg text-wrap">Revolutionize your Business with us : Unlock the Power to Sell your Digital Products Today and Reach a Wider Audience. All While Elevating Your Brand to New Heights of Success!  </h1>
                        </div>
                        <div class="flex items-center justify-center md:hidden md:justify-center md:items-center">
                          <h1 class="text-sm font-medium text-center md:max-w-2xl font-playfair md:text-lg text-wrap">Revolutionize your Business with us : Unlock the Power to Sell your Digital Products Today and Reach a Wider Audience.   </h1>
                        </div>
                           
                        
                  
                            <div class="flex items-center justify-center gap-6 md:mt-5 ">
                                   <a href="#" class="px-4 py-2 text-white duration-300 delay-75 bg-black rounded-md text-md md:text-xl md:px-6 md:py-3 focus:ring-2 focus:text-black focus:ring-black focus:bg-transparent md:rounded-xl font-poppins">Know more</a>
                                   <a href="#" class="px-4 py-2 duration-300 delay-75 border-2 rounded-md text-md md:text-xl md:px-6 md:py-3 md:rounded-xl font-poppins">About Us</a>
                            </div>
                    
                  </section>
      
                </div>



                <section class="grid items-center justify-center lg:container md:gap-6 air:gap-6 lg:gap-0 lg:mx-auto md:px-10 lg:px-10 air:px-10 lg:grid-cols-2 xl:grid-cols-2">

                       <div class="grid items-center justify-center px-6 pt-6 ">
                                <img src="styles/img/dorkmockupmac.jpg" alt="">
                       </div>
                       <div class="grid items-center justify-center gap-4 px-6 pt-6 md:gap-6 air:gap-6">
                                <h1 class="text-xl font-semibold font-poppins md:text-4xl air:text-4xl lg:text-3xl">Our Products are Thoughtfully Created with User Experience in Mind</h1>
                                <p class="text-sm font-medium text-gray-500 md:text-md air:text-md lg:text-md font-poppins ">We are passionate about creating high-quality responsive websites that are visually appealing, highly functional, and easy to use. Our commitment to excellence ensures a seamless experience for our users.</p>
                                <div class="flex ">                               
                                    <a href="#" class="px-4 py-2 text-white duration-300 delay-75 bg-black rounded-md text-md md:text-xl lg:text-lg md:px-6 lg:px-4 lg:py-2 md:py-3 focus:ring-2 focus:text-black focus:ring-black focus:bg-transparent md:rounded-xl font-poppins">Know more</a>
                                </div>
                       </div>

                       

                </section>

                <h1 class="px-6 pb-6 mt-32 text-2xl font-semibold air:pb-10 md:pb-10 lg:pb-10 md:text-4xl air:text-4xl md:mt-32 lg:mt-32 air:mt-32 lg:text-5xl font-playfair lg:container md:px-10 air:px-10 lg:px-10 lg:mx-auto">Our Categories</h1>

                <section class="grid items-center justify-center gap-6 px-6 lg:container lg:mx-auto md:px-10 lg:px-10 air:px-10 md:grid-cols-2 air:grid-cols-2 lg:grid-cols-4">
                    
                    <div class="grid items-start justify-center gap-4 p-6 duration-200 delay-75 hover:ring-2 hover:ring-gray-600 hover:bg-transparent bg-slate-200 lg:px-8 lg:py-12 rounded-2xl ">
                        <svg class="w-8" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g fill="none" fill-rule="evenodd"> <path d="m0 0h32v32h-32z"></path> <path d="m19 1.73205081 7.8564065 4.53589838c1.8564064 1.07179677 3 3.05255889 3 5.19615241v9.0717968c0 2.1435935-1.1435936 4.1243556-3 5.1961524l-7.8564065 4.5358984c-1.8564065 1.0717968-4.1435935 1.0717968-6 0l-7.85640646-4.5358984c-1.85640646-1.0717968-3-3.0525589-3-5.1961524v-9.0717968c0-2.14359352 1.14359354-4.12435564 3-5.19615241l7.85640646-4.53589838c1.8564065-1.07179677 4.1435935-1.07179677 6 0zm-4.791172 1.6195783-.208828.11247251-7.85640646 4.53589838c-1.17246724.67692428-1.91843145 1.89771701-1.99370617 3.2394348l-.00629383.2246668v9.0717968c0 1.3538485.68425541 2.6102689 1.80857977 3.3463176l.19142023.117784 7.85640646 4.5358984c1.1688485.674835 2.5938608.7123258 3.791172.1124725l.208828-.1124725 7.8564065-4.5358984c1.1724672-.6769243 1.9184314-1.897717 1.9937061-3.2394348l.0062939-.2246668v-9.0717968c0-1.3538485-.6842555-2.61026887-1.8085798-3.34631759l-.1914202-.11778401-7.8564065-4.53589838c-1.1688485-.67483501-2.5938608-.71232584-3.791172-.11247251zm8.8114886 8.20574889c.259282.4876385.0741624 1.0931371-.4134761 1.3524191l-5.6183556 2.9868539.0000413 6.7689186c0 .5522848-.4477152 1-1 1-.5522847 0-1-.4477152-1-1l-.0000413-6.7689186-5.61827304-2.9868539c-.48763849-.259282-.67275801-.8647806-.41347603-1.3524191.25928199-.4876385.86478067-.672758 1.35241917-.4134761l5.6793299 3.0187491 5.6794125-3.0187491c.4876385-.2592819 1.0931372-.0741624 1.3524192.4134761z" fill="#000000" fill-rule="nonzero"></path> </g> </g></svg>
                        <h1 class="font-semibold text-md md:text-lg font-poppins">Product Design</h1>
                        <p class="text-sm text-left text-gray-600 font-poppins">We specialize in user-centric design, creating captivating experiences through a research-driven.</p>
                    </div>
                    <!----Card 2-->
                    <div class="grid items-start justify-center gap-4 p-6 duration-200 delay-75 hover:ring-2 hover:ring-gray-600 hover:bg-transparent bg-slate-200 lg:px-8 lg:py-12 rounded-2xl ">
                        <svg fill="#000000" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="w-8" viewBox="0 0 419.931 419.931" xml:space="preserve" stroke="#ffffff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <g> <g> <path d="M282.895,352.367c-2.176-1.324-4.072-3.099-5.579-5.25c-0.696-0.992-1.284-2.041-1.771-3.125H28.282V100.276h335.624 v159.138c7.165,0.647,13.177,5.353,15.701,11.797c2.235-1.225,4.726-1.982,7.344-2.213c1.771-0.154,3.53-0.044,5.236,0.293 V39.561c0-12.996-10.571-23.569-23.566-23.569H23.568C10.573,15.992,0,26.565,0,39.561v309.146 c0,12.996,10.573,23.568,23.568,23.568h257.179c-2.007-4.064-2.483-8.652-1.302-13.066 C280.126,356.67,281.304,354.354,282.895,352.367z M338.025,55.569c0-4.806,3.896-8.703,8.702-8.703h8.702 c4.807,0,8.702,3.896,8.702,8.703v9.863c0,4.806-3.896,8.702-8.702,8.702h-8.702c-4.807,0-8.702-3.896-8.702-8.702V55.569z M297.56,55.569c0-4.806,3.896-8.703,8.702-8.703h8.703c4.807,0,8.702,3.896,8.702,8.703v9.863c0,4.806-3.896,8.702-8.702,8.702 h-8.703c-4.806,0-8.702-3.896-8.702-8.702V55.569z M257.094,55.569c0-4.806,3.897-8.703,8.702-8.703h8.702 c4.807,0,8.703,3.896,8.703,8.703v9.863c0,4.806-3.896,8.702-8.703,8.702h-8.702c-4.805,0-8.702-3.896-8.702-8.702V55.569z"></path> <path d="M419.875,335.77l-2.615-14.83c-0.353-1.997-2.256-3.331-4.255-2.979l-13.188,2.324c-1.583-3.715-3.605-7.195-6.005-10.38 l8.614-10.268c0.626-0.744,0.931-1.709,0.847-2.68c-0.086-0.971-0.554-1.867-1.3-2.494l-11.534-9.68 c-0.746-0.626-1.713-0.93-2.683-0.845c-0.971,0.085-1.867,0.552-2.493,1.298l-8.606,10.26c-3.533-1.8-7.312-3.188-11.271-4.104 v-13.392c0-2.028-1.645-3.674-3.673-3.674h-15.06c-2.027,0-3.673,1.646-3.673,3.674v13.392 c-3.961,0.915-7.736,2.304-11.271,4.104l-8.608-10.259c-1.304-1.554-3.62-1.756-5.175-0.453l-11.535,9.679 c-0.746,0.627-1.213,1.523-1.299,2.494c-0.084,0.971,0.22,1.937,0.846,2.683l8.615,10.266c-2.396,3.184-4.422,6.666-6.005,10.38 l-13.188-2.325c-1.994-0.351-3.901,0.982-4.255,2.979l-2.614,14.83c-0.169,0.959,0.05,1.945,0.607,2.744 c0.561,0.799,1.41,1.342,2.37,1.511l13.198,2.326c0.215,4.089,0.927,8.045,2.073,11.812l-11.6,6.695 c-0.844,0.485-1.459,1.289-1.712,2.229c-0.252,0.941-0.119,1.943,0.367,2.787l7.529,13.041c0.485,0.844,1.289,1.459,2.229,1.711 c0.313,0.084,0.632,0.125,0.951,0.125c0.639,0,1.272-0.166,1.836-0.492l11.609-6.703c2.73,2.925,5.812,5.517,9.18,7.709 l-4.584,12.593c-0.332,0.916-0.289,1.926,0.123,2.809s1.157,1.566,2.072,1.898l14.148,5.149c0.406,0.148,0.832,0.224,1.257,0.224 c0.53,0,1.063-0.115,1.554-0.345c0.883-0.411,1.564-1.157,1.897-2.073l4.583-12.593c1.965,0.238,3.965,0.361,5.994,0.361 s4.029-0.125,5.994-0.361l4.584,12.593c0.332,0.916,1.016,1.662,1.897,2.073c0.49,0.229,1.021,0.345,1.554,0.345 c0.424,0,0.85-0.074,1.256-0.224l14.15-5.149c0.913-0.332,1.659-1.017,2.07-1.898c0.412-0.883,0.456-1.893,0.123-2.809 l-4.584-12.591c3.365-2.192,6.447-4.786,9.18-7.709l11.609,6.703c0.563,0.324,1.197,0.492,1.836,0.492 c0.318,0,0.64-0.043,0.951-0.125c0.941-0.252,1.743-0.869,2.229-1.711l7.529-13.043c0.486-0.842,0.619-1.846,0.367-2.787 c-0.253-0.938-0.868-1.742-1.712-2.229l-11.598-6.693c1.146-3.768,1.856-7.724,2.071-11.812l13.198-2.327 c0.96-0.169,1.812-0.712,2.37-1.511C419.825,337.715,420.044,336.729,419.875,335.77z M354.184,359.336 c-11.155,0-20.2-9.045-20.2-20.201s9.046-20.2,20.2-20.2c11.156,0,20.201,9.044,20.201,20.2S365.34,359.336,354.184,359.336z"></path> <g> <path d="M164.695,235.373c0-4.752-2.785-9.117-7.096-11.119l-39.455-18.332l39.456-18.334c4.31-2.004,7.095-6.368,7.095-11.118 v-0.319c0-4.21-2.119-8.075-5.665-10.334c-1.962-1.253-4.247-1.916-6.606-1.916c-1.778,0-3.563,0.391-5.16,1.133l-63.078,29.333 c-4.309,2.004-7.092,6.368-7.092,11.117v0.877c0,4.743,2.782,9.104,7.093,11.118l63.084,29.336 c1.631,0.755,3.368,1.138,5.162,1.138c2.338,0,4.616-0.664,6.597-1.924c3.548-2.268,5.666-6.13,5.666-10.335L164.695,235.373 L164.695,235.373z"></path> <path d="M226.932,134.012c-2.301-3.15-6.002-5.03-9.901-5.03h-0.314c-5.354,0-10.048,3.425-11.679,8.516L163.478,266.27 c-1.183,3.718-0.517,7.813,1.781,10.962c2.301,3.148,6.002,5.029,9.901,5.029h0.315c5.352,0,10.043-3.426,11.672-8.516 l41.555-128.762C229.896,141.268,229.234,137.167,226.932,134.012z"></path> <path d="M308.001,194.366l-63.079-29.333c-1.592-0.74-3.374-1.131-5.152-1.131c-2.358,0-4.644,0.661-6.605,1.912 c-3.552,2.263-5.671,6.127-5.671,10.337v0.319c0,4.746,2.783,9.111,7.097,11.123l39.454,18.33l-39.455,18.331 c-4.311,2.002-7.096,6.367-7.096,11.119v0.321c0,4.205,2.119,8.066,5.669,10.336c1.974,1.258,4.254,1.923,6.595,1.923 c1.792,0,3.527-0.383,5.169-1.141l63.082-29.336c4.307-2.009,7.088-6.371,7.088-11.114v-0.877 C315.094,200.735,312.311,196.371,308.001,194.366z"></path> </g> </g> </g> </g> </g></svg>
                         <h1 class="font-semibold text-md md:text-lg font-poppins">Development</h1>
                         <p class="text-sm text-left text-gray-600 font-poppins">We specialize in user-centric design, creating captivating experiences through a research-driven.</p>
                     </div>
                     <!---Card 3-->

                     <div class="grid items-start justify-center gap-4 p-6 duration-200 delay-75 hover:ring-2 hover:ring-gray-600 hover:bg-transparent bg-slate-200 lg:px-8 lg:py-12 rounded-2xl ">
                        <svg class="w-8" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg" fill="#000000" stroke="#000000" stroke-width="2.88"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><defs><style>.a{fill:none;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;}</style></defs><path class="a" d="M4.21,22.12a2.87,2.87,0,0,0,0,3.77L22.12,43.8a2.87,2.87,0,0,0,3.77,0l17.9-17.91a2.85,2.85,0,0,0,0-3.77L25.89,4.21A2.68,2.68,0,0,0,24,3.51h0a2.66,2.66,0,0,0-1.88.71Z"></path><line class="a" x1="26.33" y1="17.85" x2="30.15" y2="21.67"></line><line class="a" x1="17.4" y1="8.92" x2="21.67" y2="13.19"></line><circle class="a" cx="24" cy="32.41" r="3.3"></circle><circle class="a" cx="24" cy="15.52" r="3.3"></circle><circle class="a" cx="32.48" cy="24" r="3.3"></circle><line class="a" x1="24" y1="29.11" x2="24" y2="18.82"></line></g></svg>
                        <h1 class="font-semibold text-md md:text-lg font-poppins">Deployment</h1>
                        <p class="text-sm text-left text-gray-600 font-poppins">We specialize in user-centric design, creating captivating experiences through a research-driven.</p>
                    </div>
                    <!--Card -4-->

                    <div class="grid items-start justify-center gap-4 p-6 duration-200 delay-75 hover:ring-2 hover:ring-gray-600 hover:bg-transparent bg-slate-200 lg:px-8 lg:py-12 rounded-2xl ">
                        <svg class="w-8" fill="#000000" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"  viewBox="0 0 396.494 396.494" xml:space="preserve"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <path d="M304.42,330.901h-43.219c-1.56,0-2.834-1.273-2.834-2.834v-10.52c0-1.559-1.275-2.834-2.834-2.834h-60.475 c-1.56,0-2.835,1.275-2.835,2.834v10.52c0,1.561-1.275,2.834-2.835,2.834h-32.491c-1.56,0-2.835,1.275-2.835,2.834v12.17 c0,1.559,1.275,2.834,2.835,2.834h147.521c1.559,0,2.834-1.275,2.834-2.834v-12.17C307.254,332.179,305.979,330.901,304.42,330.901 z"></path> <g> <path d="M377.032,46.368h-308.4c-10.73,0-19.459,8.73-19.459,19.462c0,0,0,37.109,0,50.761c0,6.711-0.498,7.66,4.004,7.66 c2.391,0,5.039,0,7.72,0c3.778,0,3.003-0.949,3.003-7.785c0-13.621,0-50.636,0-50.636c0-2.565,2.168-4.733,4.732-4.733h308.4 c2.563,0,4.731,2.168,4.731,4.733v189.999h-219.87c0,0-7.749-0.014-7.749,10.006c0,5.941,0,17.823,0,23.766 c0,10.006,8,10.006,8,10.006h214.888c10.729,0,19.461-8.729,19.461-19.459V65.83C396.493,55.099,387.763,46.368,377.032,46.368z M222.833,282.804c-4.845,0-8.771-3.926-8.771-8.768s3.926-8.77,8.771-8.77c4.84,0,8.767,3.928,8.767,8.77 S227.673,282.804,222.833,282.804z"></path> <path d="M124.125,141.633H12.559C5.632,141.633,0,147.266,0,154.193v183.372c0,6.926,5.632,12.561,12.559,12.561h111.566 c6.923,0,12.559-5.635,12.559-12.561V154.193C136.684,147.266,131.048,141.633,124.125,141.633z M54.58,154.443h27.523 c1.313,0,2.38,1.064,2.38,2.381c0,1.314-1.066,2.379-2.38,2.379H54.58c-1.315,0-2.379-1.065-2.379-2.379 C52.201,155.507,53.265,154.443,54.58,154.443z M68.175,341.304c-3.59,0-6.5-2.91-6.5-6.5s2.91-6.5,6.5-6.5s6.5,2.91,6.5,6.5 S71.765,341.304,68.175,341.304z M125.893,322.2c0,1.676-1.342,3.047-2.98,3.047H13.774c-1.639,0-2.98-1.371-2.98-3.047V169.825 c0-1.676,1.342-3.046,2.98-3.046h109.139c1.639,0,2.98,1.371,2.98,3.046V322.2z"></path> </g> </g> </g></svg>
                        <h1 class="font-semibold text-md md:text-lg font-poppins">Responsive</h1>
                        <p class="text-sm text-left text-gray-600 font-poppins">We specialize in user-centric design, creating captivating experiences through a research-driven.</p>
                    </div>
                </section>

                <h1 class="px-6 pb-6 mt-32 text-2xl font-semibold air:pb-10 md:pb-10 lg:pb-10 md:text-4xl air:text-4xl md:mt-32 lg:mt-32 air:mt-32 lg:text-5xl font-playfair lg:container md:px-10 air:px-10 lg:px-10 lg:mx-auto">Our Projects</h1>


                <section class="grid items-center justify-center gap-6 px-6 xl:container lg:container lg:mx-auto md:px-10 lg:px-10 md:grid-cols-2 lg:grid-cols-2">
                    <div class="relative grid items-center justify-center gap-6 duration-200 delay-75 ">
                        <img src="styles/img/mockupdork2.jpg" alt="" class="rounded-3xl">
                        <h1 class="px-4 text-2xl font-medium font-poppins">Dork <div class="inline-flex text-xl text-gray-500 font-poppins">/ Coding Platform</div></h1>
                        <p class="px-4 -mt-5 text-gray-500 font-poppins">Dork is a platform where computer programmers used to solve competetive coding problems . </p>
                        <div class="absolute duration-200 delay-75 top-4 right-4 ">
                              <a href="https://github.com/pasamyagnesh/dorkcode"> <img src="styles/img/github.jpeg" alt="" class="w-12 rounded-full shadow-lg"></a> 
                        </div>
                    </div>
                    <!---Card 2-->
                    <div class="relative grid items-center justify-center gap-6 duration-200 delay-75 ">
                        <img src="styles/img/mockupbucks.jpg" alt="" class="rounded-3xl">
                        <h1 class="px-4 text-2xl font-medium font-poppins">Bucks <div class="inline-flex text-xl text-gray-500 font-poppins">/ Live exchange </div></h1>
                        <p class="px-4 -mt-5 text-gray-500 font-poppins">A platform for real-time currency exchange, currency conversion, stocks, cryptocurrencies.</p>
                        <div class="absolute duration-200 delay-75 top-4 right-4 ">
                               <img src="styles/img/github.jpeg" alt="" class="w-12 rounded-full shadow-lg">
                        </div>
                    </div>


                </section>





        <form action="/submit-form" method="POST">
            <div class="grid  lg:mt-32 mt-10 md:mt-32 bg-black/90 md:w-[700px] lg:w-[700px]  mx-auto gap-7 md:p-10 lg:p-10 p-6 air:rounded-xl lg:rounded-xl md:rounded-xl ">



                <h1 class="-mb-5 text-xl text-white font-poppins">Get in touch.</h1>
                <h1 class="text-5xl font-semibold text-white md:text-4xl lg:text-5xl font-playfair">Contact</h1>
                     <div class="grid gap-7 md:gap-4 lg:gap-4 md:grid-cols-2">
                        <input type="text" id="name" name="name" placeholder="First Name*" class="w-full px-4 py-2 bg-gray-100 rounded-lg appearance-none focus:border-none focus:outline-none">
                        <input type="text" id="lastName" name="lastName" placeholder="Last Name*" class="w-full px-4 py-2 bg-gray-100 rounded-lg appearance-none focus:border-none focus:outline-none">
                     </div>
                    
               
                <input type="email" id="email" name="email" placeholder="E-mail" class="w-full px-4 py-2 bg-gray-100 rounded-lg appearance-none focus:border-none focus:outline-none">
                <textarea id="message" name="message" placeholder="Message" class="w-full px-4 py-2 bg-gray-100 rounded-lg appearance-none focus:border-none focus:outline-none min-h-36"></textarea>
                <input type="submit" value="Send" class="w-full px-4 py-2 font-semibold bg-gray-100 rounded-md cursor-pointer font-poppins ">
            </div>
        </form>


              
                

            
            <section class="px-10 mx-auto md:container md:flex md:mt-32">
                               
            </section>
            

               


                <script>
                    const menuToggle = document.getElementById('menu-toggle');
                    const navDialog = document.getElementById('nav-dialog');
                    const closeBtn = document.getElementById('close-btn');
                  
                    menuToggle.addEventListener('click', function() {
                        navDialog.classList.toggle('hidden');
                    });
                  
                    closeBtn.addEventListener('click', function() {
                        navDialog.classList.add('hidden');
                    });
                  </script>
</body>
</html>