<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animate</title>
    <link rel="stylesheet"  href="styles/style.css">

</head>
<body>
    <div class="grid items-center justify-center w-full max-w-sm p-4 mx-auto mt-20 rounded-md shadow">
        <div class="flex space-x-4 w-80 animate-pulse ">
          <div class="w-10 h-10 rounded-full bg-slate-500"></div>
          <div class="flex-1 py-2 space-y-6">
            <div class="h-2 rounded bg-slate-500"></div>
            <div class="space-y-3">
              <div class="grid grid-cols-3 gap-4">
                <div class="h-2 col-span-2 rounded bg-slate-500"></div>
                <div class="h-2 col-span-1 rounded bg-slate-500"></div>
              </div>
              <div class="h-2 rounded bg-slate-500"></div>
            </div>
          </div>
        </div>
        <br>
        <br>
        
      </div>

     
        <div class="flex items-center justify-center gap-2 px-6 py-3 bg-blue-600 rounded-lg">
            <svg   viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill="none" class="w-10 animate-spin hds-flight-icon--animation-loading"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g fill="#c5baba" fill-rule="evenodd" clip-rule="evenodd"> <path d="M8 1.5a6.5 6.5 0 100 13 6.5 6.5 0 000-13zM0 8a8 8 0 1116 0A8 8 0 010 8z" opacity=".2"></path> <path d="M7.25.75A.75.75 0 018 0a8 8 0 018 8 .75.75 0 01-1.5 0A6.5 6.5 0 008 1.5a.75.75 0 01-.75-.75z"></path> </g> </g></svg>
        
          <h1 class="font-semibold text-white text-md">Processing..</h1> 
        </div>
          

     
      
</body>
</html>