<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BLOB</title>
    <link rel="stylesheet" href="styles/style.css">
</head>
<body class="overflow-hidden bg-slate-800">

        

            <div class="absolute top-0  bg-orange-600 rounded-full animate-blob  mix-blend-lighten filter blur-xl -right-10 w-[500px] h-[500px] "></div>
            <div class="absolute  bg-green-600 rounded-full top-26 mix-blend-lighten animate-blob animation-delay-2000 filter blur-xl  right-64  w-[500px] h-[500px]"></div>
            <div class="absolute  right-0 bg-blue-600 rounded-full mix-blend-lighten animate-blob filter blur-xl animation-delay-4000   -bottom-10  w-[500px] h-[500px]"></div>
   

       
           
     
           <div class="flex flex-col items-start justify-center w-full h-screen p-20 space-y-8">
                        <h1 class="text-5xl font-semibold text-blue-500">H! Iam</h1>
                        <h1 class="text-5xl font-semibold text-blue-500">HARSHA</h1>
                        <h1 class="text-5xl font-semibold text-blue-500">Web designer</h1>
           </div>
      
</body>
</html>