<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blob effect</title>
    <link rel="stylesheet" href="styles/style.css">
</head>
<body>

        <div class="container flex flex-col items-center justify-center h-screen px-16 mx-auto space-y-8 bg-gray-50">

            <div class="relative w-full max-w-lg ">
                <div class="absolute top-0 bg-purple-400 rounded-full animate-blob filter blur-xl mix-blend-multiply -left-4 w-72 h-72 ">   </div>
                <div class="absolute top-0 bg-yellow-400 rounded-full animation-delay-2000 animate-blob filter blur-xl mix-blend-multiply -right-4 w-72 h-72 ">   </div>
                <div class="absolute bg-pink-400 rounded-full animation-delay-4000 animate-blob filter blur-xl -bottom-8 mix-blend-multiply left-20 w-72 h-72 ">   </div>

             
              
                <div class="relative m-8 space-y-4 ">
                    <div class="flex items-center justify-between p-5 space-x-8 bg-white rounded-lg ">
                                    <div class="flex-1">
                                            <div class="w-48 h-4 bg-gray-300 rounded">

                                            </div>
                                    </div>
                                    <div class="w-24 h-6 bg-purple-300 rounded-lg ">

                                    </div>
                    </div>
                    <div class="flex items-center justify-between p-5 space-x-8 bg-white rounded-lg ">
                                    <div class="flex-1">
                                            <div class="w-48 h-4 bg-gray-300 rounded">

                                            </div>
                                    </div>
                                    <div class="w-24 h-6 bg-purple-300 rounded-lg ">

                                    </div>
                    </div>
                    <div class="flex items-center justify-between p-5 space-x-8 bg-white rounded-lg ">
                                    <div class="flex-1">
                                            <div class="w-48 h-4 bg-gray-300 rounded">

                                            </div>
                                    </div>
                                    <div class="w-24 h-6 bg-purple-300 rounded-lg ">

                                    </div>
                    </div>

                       

                </div>

            </div>

        </div>
    
</body>
</html>