<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conic gradient</title>
    <link rel="stylesheet" href="styles/style.css">
</head>
<body>
    
        <div class="flex h-[100vh] w-[100vh] flex-col items-center justify-center bg-slate-950 text-white">

              <div class="card-wrapper h-[200px] w-[200px]">

                     <div class="flex items-center justify-center card-content text-md">

                        Border ready

                     </div>

              </div>

        </div>

</body>
</html>