<!-- views/card.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Tailwind CSS Card</title>
    <link href="styles/style.css" rel="stylesheet">
</head>
<body>
    <div class="max-w-sm overflow-hidden rounded shadow-lg">
        <img class="w-full" src="styles/img/Hand coding-bro.png" alt="Card Image">
        <div class="px-6 py-4">
            <div class="mb-2 text-xl font-bold">Image</div>
            <p class="text-base text-gray-700">
                Image one in this
            </p>
        </div>
        <div class="px-6 pt-4 pb-2">
            <span class="inline-block px-3 py-1 mr-2 text-sm font-semibold text-gray-700 bg-gray-200 rounded-full">#tag1</span>
            <span class="inline-block px-3 py-1 text-sm font-semibold text-gray-700 bg-gray-200 rounded-full">#tag2</span>
        </div>
    </div>
</body>
</html>
