<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DROPOUT ENGINEERING</title>
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Russo+One&family=Sora:wght@100..800&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&family=Ubuntu+Condensed&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
</head>
<body >


    <!-- <div class="flex items-center justify-center h-screen gap-6 ">


          <div class="relative flex group">
            <a href="#" class="font-mono text-gray-500 hover:text-white ">Home</a>
            <h1 class="h-[3px]  rounded-xl bg-green-500 w-0 absolute -bottom-[5px] group-hover:w-full duration-300"></h1>
          </div>
          <div class="relative flex group">
            <a href="#" class="font-mono text-gray-500 hover:text-white ">Harshavardhan</a>
            <h1 class=" h-[3px] bg-green-500 absolute w-0 rounded-xl duration-300 group-hover:w-full -bottom-[5px] "></h1>
          </div>
          <div class="relative flex">
            <a href="#" class="font-mono text-gray-500 hover:text-white ">About</a>
          </div>
          <div class="relative flex">
            <a href="#" class="font-mono text-gray-500 hover:text-white ">Contact</a>
          </div>

                

    </div> -->


    <div class="container flex flex-col items-center justify-center h-screen gap-6 p-10 mx-auto mt-5 bg-slate-100 rounded-tr-2xl rounded-tl-2xl">

        

        <div class="flex items-center justify-center max-w-2xl">
            <h1 class="text-6xl font-bold leading-[60px] text-center text-black font-Volgarie ">Blending top-notch design & development.</h1>
        </div>
        <div class="flex items-center justify-center max-w-2xl ">
            <p class="text-xl text-center text-gray-700 text-wrap font-poppins">We create intuitive websites that help enhance user experience and improve key metrics.</p>
        </div>
        

       
    </div>



    

    <div class="relative flex flex-col items-end justify-end h-screen gap-10 p-6 mx-auto border-2 item-center">

        

        <div class="flex flex-col items-center justify-center">
            <div class="flex flex-col items-center justify-center gap-4 p-6 border-2 ">

                <h1 class="text-4xl font-medium font-Gementine ">Projects</h1>
                <p class="text-lg text-gray-400 font-poppins ">Behind us is our own product and more than 30 projects that helped clients grow</p>
    
            </div>
            <div class="flex flex-col items-center justify-center gap-4 p-6 border-2">
    
                <h1 class="text-4xl font-medium font-Gementine ">Projects</h1>
                <p class="text-lg text-gray-400 font-poppins ">Behind us is our own product and more than 30 projects that helped clients grow</p>
    
            </div>
            <div class="flex flex-col items-center justify-center gap-4 p-6 border-2">
    
                <h1 class="text-4xl font-medium font-Gementine ">Projects</h1>
                <p class="text-lg text-gray-400 font-poppins ">Behind us is our own product and more than 30 projects that helped clients grow</p>
    
            </div>
            
            
        </div>

        
        
        
    </div>

    <div class="sticky top-0 right-0">

        <h1 class="text-4xl font-medium font-Gementine ">Projects</h1>
        <p class="text-lg text-gray-400 font-poppins text-wrap">Behind us is our own product and more than 30 projects that helped clients grow</p>

    </div>

    
    

    <div class="container flex flex-col items-center justify-center h-screen gap-6 p-10 mx-auto mt-5 bg-slate-100 rounded-tr-2xl rounded-tl-2xl">

        

        <div class="flex items-center justify-center max-w-2xl">
            <h1 class="text-6xl font-bold leading-[60px] text-center text-black font-Volgarie ">Blending top-notch design & development.</h1>
        </div>
        <div class="relative flex items-center justify-center max-w-2xl">
            <p class="text-xl text-center text-gray-700 text-wrap font-poppins">We create intuitive websites that help enhance user experience and improve key metrics.</p>
        </div>
        <div class="absolute flex items-center justify-center max-w-2xl bottom-10">
            <svg fill="#000000" class="w-12" viewBox="0 0 24 24" id="down-circle" data-name="Flat Line" xmlns="http://www.w3.org/2000/svg" class="icon flat-line"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><circle id="secondary" cx="12" cy="12" r="9" style="fill: #ffffff; stroke-width: 2;"></circle><polyline id="primary" points="9 11 12 14 15 11" style="fill: none; stroke: #000000; stroke-linecap: round; stroke-linejoin: round; stroke-width: 2;"></polyline><circle id="primary-2" data-name="primary" cx="12" cy="12" r="9" style="fill: none; stroke: #000000; stroke-linecap: round; stroke-linejoin: round; stroke-width: 2;"></circle></g></svg>   
       </div>

       <div class="relative flex flex-col items-center justify-center max-w-2xl group">
              <h1 class="text-xl font-medium font-Goodtimes ">Discuss a Project</h1>
              <h1 class="absolute h-[3px] -bottom-1 w-0 left-0 rounded-xl duration-300 bg-black group-hover:w-full"></h1>
       </div>

       

       


        



    </div>

    
    
</body>
</html>