<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>timeframe</title>
    <link rel="stylesheet" href="styles/style.css">
</head>
<body class="antialiased text-gray-800 bg-gray-100 ">
    <div class="relative flex flex-col px-6 mx-auto space-y-8 conatiner">
        <div class="absolute z-0 w-2 h-full bg-white shadow-md left-[68px]">

        </div>
            
        <div class="relative z-10">
            <img src="https://images.pexels.com/photos/2218344/pexels-photo-2218344.jpeg?auto=compress&cs=tinysrgb&h=100"
             alt=""
             class="object-cover w-24 h-24 border-4 border-white rounded-full shadow-md xs:abolute" />

        <!----message-->
        <div class="relative pt-[6px] xs:pl-28 xs:pt-0">

    
             <div class="absolute inset-0 w-5 h-5 transform rotate-45 bg-white xs:top-11 xs:left-24 left-10"></div>                        
       
                 <div class="p-6 bg-white rounded-md shadow-md">
                           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure et molestias quam possimus voluptatum vero harum quod molestiae neque sequi voluptate sunt esse ducimus repellendus accusamus alias adipisci, dolor aut.
                 </div>
           
      </div>
     
    </div>
    </div>
    
</body>
</html>